<nav id="mainNav" class="navbar navbar-default navbar-custom affix-top">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      {{#link-to 'index' class="navbar-brand"}}Media Catalog{{/link-to}}
    </div>
  </div>
</nav>
<div class="container">
  <h2 id="title">Media Catalog</h2>
{{outlet}}
</div>

