<nav id="mainNav" class="navbar navbar-default navbar-custom affix-top">
  <div class="container">
    <div class="navbar-header page-scroll">
      {{#link-to 'index' class="navbar-brand"}}Media Catalog{{/link-to}}
    </div>
  </div>
</nav>
<div class="container">
  <h2 id="title">Media Catalog</h2>
{{outlet}}
</div>

